os:
  - linux
  - osx

language: cpp

compiler: gcc

sudo: false

addons:
  apt:
    packages:
      - libpthread-stubs0-dev
      - libx11-dev
      - libx11-xcb-dev
      - libxcb-image0-dev
      - llibxcb-randr0-dev
      - libudev-dev
      - libgl1-mesa-dev
      - libjpeg8-dev
      - libfreetype6-dev
      - libopenal-dev
      - libvorbis-dev
      - libflac-dev


script: 
- cmake .
- make

